.modalLogin{
  z-index: 1;
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(7px);
  background-color: rgb(255, 255, 255, .5);
}

.modal-content{
  width: 300px;
  padding: 10px 20px;
  height: 80vh;
  margin: 10vh auto;
  border-radius: 10px;
  position: relative;
  background-color: var(--backgroundColor);
}

.modal-content .btn {
  display: block;
  color: white;
  border-radius: 50%;
}