.switch{
  display: block;
  height: 25px;
  width: 60px;
  border-radius: 20px;
  padding: 3px;
  cursor: pointer;
  user-select: none;
  background-color: var(--items);
}
.switch::before{
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--backgrundColorItems);
  transform: translateX(0px);
  transition: .2s all ease-out;
}
.checkbox{
  display: none;
}
.checkbox:checked ~ .switch::before{
  transform: translateX(35px);
}