.titleUpdateComment{
  text-align: center;
  margin: 2em 0;
  font-weight: 500;
  color: var(--text);
}
.fromUpdateComment{
  display: flex;
  flex-direction: column;
}
.fromUpdateComment textarea {
  resize: none;
  padding-left:5px ;
  color: var(--text);
  border-radius: 8px;
  margin-bottom: 2em;
  font-family: 'Roboto', sans-serif;;
  border-color: rgba(128, 128, 128, 0.377);
  background-color: var(--backgrundColorItems);
}
.fromUpdateComment textarea:focus,
.fromUpdateComment button:focus{
  outline: none;
}
.fromUpdateComment button{
  border: none;
  padding: 5px;
  color: white;
  border-radius: 20px;
  background-color: var(--items);
}