.wrapComment{
  min-height: 5em;
  padding: 5px 1em 1em;
  margin-bottom: 10px;
  background-color: var(--backgrundColorItems);
}
.commentContainer{
  padding-left:8px ;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0,.5) ;
}
.wrapCommentContent{
  width: 95%;
  display: flex;
  font-size: .9em;
  color: var(--text);
  margin: 5px 0;
  padding-bottom: 1px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.356);
}
.commentUsername{
  margin-right: 8px;
}
.newComment{
  display: flex;
  border-radius: 20px;
  overflow: hidden;
  margin: 10px 0 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0,.5);
}
.inputComment{
  width: 100%;
  border: none;
  padding-left: 7px;
  border-radius: 0;
  line-height: 2;
  color: var(--text);
  background-color: var(--backgrundColorItems);
}
.inputComment:focus{
  outline: none;
}