
.form{
  overflow: hidden;
}
.inputSearch{
  line-height: 21px;
  color: var(--text);
  background-color: var(--backgrundColorItems);
  border: 1px solid var(--text); 
  border-right-color: transparent;
  border-radius: 6px 0 0 6px;
}
.inputSearch::-webkit-input-placeholder{
  color: var(--text);
  font-size: 1em;
}
.inputSearch:focus{
outline: none;
}
.btn{
  color: white;
  background-color: var(--items);
  border: none;
  padding: 4px 10px;
  border-radius: 0 6px 6px 0;
}