
.form{
  overflow: hidden;
  box-shadow: -1px 2px 5px 0px rgba(0, 0, 0, .5);
  border-radius: 30px;
}
.inputSearch{
  border: none;
  padding: 5px 8px;
  line-height: 1.6;
  color: var(--text);
  background-color: var(--backgroundColor);
}
.inputSearch::-webkit-input-placeholder{
  color: var(--text);
  font-size: 1em;
}
.inputSearch:focus{
  outline: none;
}
.btn{
  color: white;
  border: none;
  cursor: pointer;
  padding: 8px 12px;
  border-radius: 0;
  background-color: var(--items);
}