.wrap-login{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--backgroundColor);
}
.formLogin{
  height: 60vh;
  width: 260px;
  font-size: 1.5em;
  color: var(--text);
  border-radius: 8px;
  padding: 0 1em;
  background-color: var(--backgrundColorItems);
}
.titleLogin{
  color: var(--text);
  font-size: 1.4em;
  text-align: center;
  margin: 1em 0 .5em;
}
.username, .password{
  color: var(--text);
  font-size: .5em;
}
.username div,
.password div{
  margin: 5px 0;
  border-bottom: 2px solid var(--items);
}
.username i,
.password i{
  color: var(--text);
  margin-right: 5px;
}
.username input,
.password input{
  line-height: 2;
  border: none;
  color: var(--text);
  background-color: var(--backgrundColorItems);
}
/*  .username input::-webkit-input-placeholder,
.password input::-webkit-input-placeholder{
  color: var(--text);
}  */
.username input:focus,
.password input:focus{
  outline: none;
}
.btnLogin{
  border: none;
  width: 100%;
  padding: 8px;
  color: white;
  cursor: pointer;
  margin: 10px 0;
  border-radius: 20px;
  background-color: var(--items);
}
.singUp{
  text-decoration: none;
  color: var(--text);
  font-size: .6em;
  display: block;
  text-align: center;
  
}