.wrapSingUp{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login{
  color: var(--text);
  font-size: .6em;
  display: block;
  text-align: center;
  text-decoration: none;
}