*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  position: relative;
  font-family: 'Roboto', sans-serif;
  background-color: var(--backgroundColor);


  --backgroundColor: rgb(240, 240, 240);
  --backgrundColorItems: rgb(255, 255, 255);
  --text:#202020;
  --items: #9F0013;
  --itmesHover:#b10115;  
  
  transition: .3s all ease;
}
body.isDarkMode{
  --backgroundColor: #151515;
  --backgrundColorItems: #202020;
  --text: #FFFFFF; 
}
